body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #0a0a1a;
    color: white;
}