<header>
    <nav>
        <span class="nav-brand" onclick="link('home');"><img src="/assets/icon.png" height="24px" alt="Quozul's avatar">Quozul.dev</span>
        <ul id="menu">
            <span id="menu-sections"></span>
            <span id="menu-pages">
                <% locals.pages.forEach(file => {
                    if (file != locals.page) { %>
                <li onclick="link('<%= file %>');" class="menu-entry"><%= (file.charAt(0).toUpperCase() + file.slice(1)).replace(/_/g, ' ') %></li>
                <% } }); %>
            </span>
        </ul>
        <span id="menu-toggler" onclick="togglePhoneMenu();">
            <div></div>
            <div></div>
            <div></div>
        </span>
    </nav>
</header>