<head>
    <title>Quozul.dev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hi, I'm a full stack web developper. I'm still at school for now but here's my website. Come check it out !">
    <meta name="author" content="Erwan Le Gloannec">

    <link rel="stylesheet" href="/styles/game.min.css">
    <link rel="stylesheet" href="/styles/main.min.css">
    <link rel="stylesheet" href="/styles/main_responsive.min.css">
    <link rel="stylesheet" href="/styles/stars.min.css">
    <link rel="icon" type="image/png" href="/assets/icon.png">
</head>