ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 402 /error.php?code=402
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
#ErrorDocument 405 /error.php?code=405
#ErrorDocument 406 /error.php?code=406
#ErrorDocument 407 /error.php?code=407
#ErrorDocument 408 /error.php?code=408
#ErrorDocument 409 /error.php?code=409
#ErrorDocument 410 /error.php?code=410
#ErrorDocument 411 /error.php?code=411
#ErrorDocument 412 /error.php?code=412
#ErrorDocument 413 /error.php?code=413
#ErrorDocument 414 /error.php?code=414
#ErrorDocument 415 /error.php?code=415
#ErrorDocument 416 /error.php?code=416
#ErrorDocument 417 /error.php?code=417
#ErrorDocument 418 /error.php?code=418
#ErrorDocument 420 /error.php?code=420
#ErrorDocument 421 /error.php?code=421
#ErrorDocument 422 /error.php?code=422
#ErrorDocument 423 /error.php?code=423
#ErrorDocument 424 /error.php?code=424
#ErrorDocument 425 /error.php?code=425
#ErrorDocument 426 /error.php?code=426
#ErrorDocument 429 /error.php?code=429
#ErrorDocument 431 /error.php?code=431
#ErrorDocument 444 /error.php?code=444
#ErrorDocument 450 /error.php?code=450
#ErrorDocument 451 /error.php?code=451
#ErrorDocument 497 /error.php?code=497
#ErrorDocument 498 /error.php?code=498
#ErrorDocument 499 /error.php?code=499
#ErrorDocument 500 /error.php?code=500
#ErrorDocument 501 /error.php?code=501
#ErrorDocument 502 /error.php?code=502
#ErrorDocument 503 /error.php?code=503
#ErrorDocument 504 /error.php?code=504
#ErrorDocument 506 /error.php?code=506
#ErrorDocument 507 /error.php?code=507
#ErrorDocument 508 /error.php?code=508
#ErrorDocument 509 /error.php?code=509
#ErrorDocument 510 /error.php?code=510
#ErrorDocument 511 /error.php?code=511
#ErrorDocument 521 /error.php?code=521
#ErrorDocument 523 /error.php?code=523
#ErrorDocument 525 /error.php?code=525
#ErrorDocument 599 /error.php?code=599
