Header set Content-Security-Policy "default-src blob: 'self'; media-src blob:; img-src 'self' https://cdn.discordapp.com/; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; object-src 'none'; frame-ancestors 'none'"
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "same-origin"
Header set Access-Control-Allow-Origin "null"

ServerSignature Off

ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 402 /error.php?code=402
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404