:root {
    --transition-duration: 1000ms;
}

file-browser {
    position: relative;
    display: block;
    user-select: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* BROWSER */
file-browser .browser {
    position: absolute;
    top: 3.5em;
    left: 0;
    bottom: 3.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
}

file-browser .browser > div {
    cursor: pointer;
    width: 256px;
    height: 256px;
    text-align: center;
    padding: 0 1em 1em;
    transition: box-shadow var(--transition-duration), transform .2s;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-wrap: anywhere;
}

file-browser .browser > div .name > span {
    background-color: var(--gold-color);
}

file-browser .browser > div img.icon {
    height: 50%;
}

file-browser .browser > div .stat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: .5em;
}

file-browser .browser > div:active {
    transform: scale(.95);
}

file-browser .browser > div:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    box-shadow: inset var(--background-color) 0 calc(-256px - 2em) 0;
    transition: .2s;
}

file-browser .browser > div.open:after {
    box-shadow: inset var(--background-color) 0 0 0;
}

file-browser .browser > div.folder, file-browser .browser > div.file {
    background-color: var(--folder-color);
}

/* PATH */

file-browser .path {
    top: 0;
    padding: 1em;
}

file-browser .path > span {
    padding: .5em .5em .5em 0;
    user-select: none;
    cursor: pointer;
}

file-browser .path > span + span:before {
    padding-right: .5em;
    content: "/";
}

/* PREVIEW */

file-browser .preview {
    bottom: 0;
    padding: 1em;
}

file-browser .path, file-browser .preview {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: var(--folder-color);
}

/* SEARCH */

file-browser .search {
    position: absolute;
    z-index: 100;
    background-color: var(--folder-color);
    top: 0;
    right: 0;
    border: none;
    color: white;
    padding: 1em;
    font-size: 1em;
    transform: translateY(-100%);
    transition: transform .2s;
}

file-browser .search.visible {
    transform: translateY(3.5em);
}

/* DOWNLOAD */

file-browser .download-center {
    position: absolute;
    bottom: 4em;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: auto;
    transform: translateX(-50%) translateY(0);
}

file-browser .download-center .download {
    padding: 1em;
    transition: transform .2s;
    border-radius: .25em;
    border: solid #ccc 1px;
    z-index: 200;
    background-color: var(--background-color);
    margin: .5em 0;
    transform: translateY(calc(100% + 4em));
}

file-browser .download-center .download.downloading {
    transform: translateY(0);
}

file-browser .download-center .download .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .5em;
    background-color: var(--gold-color);
    width: 0;
    transition: width .2s;
}