:root {
    --folder-color: #151536;
    --file-color: #151536;
    --background-color: #0a0a1a;
    --gold-color: #DCB800;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #0a0a1a;
    color: white;
}