modal-element {
    transition: transform .2s;
    background-color: var(--folder-color);
    transform: scale(0) translate(-50%, -50%);
    transform-origin: top left;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

modal-element.show {
    transform: scale(1) translate(-50%, -50%);
}

modal-element > div {
    padding: 1em;
}

modal-element .title {
    border-bottom: solid 1px #ccc;
}

modal-element .content {
    height: 100%;
}

modal-element .buttons {
    border-top: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
}

modal-element .buttons > button {
    padding: .5em;
    background-color: var(--gold-color);
    cursor: pointer;
    border: none;
    transition: transform .2s;
}

modal-element .buttons > button:hover {
    transform: scale(1.05);
}

modal-element .buttons > button:active {
    transform: scale(.95);
}