<!DOCTYPE html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <meta name="supported-color-schemes" content="light dark">
    <meta
      name="theme-color"
      content="hsl(220, 20%, 100%)"
      media="(prefers-color-scheme: light)"
    >
    <meta
      name="theme-color"
      content="hsl(220, 20%, 10%)"
      media="(prefers-color-scheme: dark)"
    >

    <link rel="stylesheet" href="/styles.css">
    <link
      rel="alternate"
      href="/feed.xml"
      type="application/atom+xml"
      title="{{ metas.site }}"
    >
    <link
      rel="alternate"
      href="/feed.json"
      type="application/json"
      title="{{ metas.site }}"
    >
    <link rel="canonical" href="{{ url |> url(true) }}">
    {{ it.extra_head?.join("\n") }}
  </head>

  <body class="p-6 min-h-screen">
    <header>
      <nav class="flex justify-between gap-4 mb-8 max-w-prose mx-auto">
        <a href="/" class="text-lg font-bold">
            {{ if it.logo }}
            {{ it.logo }}
            {{ else }}
            <strong>{{ metas.site }}</strong>
            {{ /if }}
        </a>

        <ul class="flex gap-4">
            {{ for entry of search.pages("menu.visible=true", "menu.order") }}
            <li>
                <a
                href="{{ entry.url }}"
                class="decoration-dotted underline hover:no-underline"
                {{ if entry.url == url }}
                    aria-current="page"
                {{ /if }}
                >
                {{ entry.menu.title || entry.title }}
                </a>
            </li>
            {{ /for }}
            {{ for link of it.menu_links }}
            <li>
                <a
                href="{{ link.href }}"
                {{ if link.target }}
                    target="{{ link.target }}"
                {{ /if }}
                >
                {{ link.text }}
                </a>
            </li>
            {{ /for }}
        </ul>
      </nav>
    </header>

    <main class="max-w-prose w-full mx-auto">
      {{ content }}
    </main>

    <footer class="max-w-prose w-full mx-auto border-t mt-20 pt-8 text-muted flex gap-4 justify-between">
      <p>
        &copy; {{ new Date().getFullYear() }} {{ metas.site }}
      </p>
        <p xmlns:cc="http://creativecommons.org/ns#">
          licensed under
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer" class="decoration-dotted underline hover:no-underline">
            CC BY 4.0
          </a>
        </p>
    </footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
