body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

/* Quick menu style */
ul#menu {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    list-style: none;
    user-select: none;
}
ul#menu li {
    padding: .5em;
    cursor: pointer;
}
ul#menu li.selected {
    background-color: lightblue;
}

header, footer {
    z-index: 100;
}

/* Utility */

.full-size {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Page containers */

page-container {
    display: block;
    position: relative;
    overflow: hidden;
}

page-section {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 1s transform, 1s opacity;
}

page-section.page-up {
    transform: translateY(-100vh) scale(.8);
    opacity: 0;
}

page-section.page-down {
    transform: translateY(100vh) scale(.8);
    opacity: 0;
}

page-section.page-left {
    transform: translateX(-100vw) scale(.8);
}

page-section.page-right {
    transform: translateX(100vw) scale(.8);
}

page-section.page-current {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
}
