<section id="sec1" class="page page-current" name="Home">
    <div>
        <div class="flex">

        </div>
        <span id="logo">&nbsp;</span>
        <h1>Full stack JavaScript developper</h1>
        <h2>Erwan L. <small>Aka. Quozul</small></h2>

        <div class="scroll-down">
            <div class="scroll-arrow"></div>
            Scroll down
        </div>
    </div>
</section>
<section id="sec2" class="page page-down" name="Projects">
    <div>
        <h1>Projects</h1>
        <div class="projects">
            <ul class="discover">
                <li><a href="https://github.com/Quozul/Imcrypt" target="_blank" class="button green" rel="noopener">ImCrypt</a></li>
                <li>Encrypt files to images and backwards.</li>
                <li><b>Date:</b> March 15, 2020</li>
                <li><b>Language:</b> English</li>
                <li><b>Compatibility:</b> Source code/Web browser</li>
                <li><a class="show" href="https://github.com/Quozul/Imcrypt/releases/latest" target="_blank" rel="noopener">Offline version</a> (unfinished)</li>
                <li><a class="show" href="https://quozul.dev/imcrypt" target="_blank">Online version</a> (non-available)</li>
            </ul>

            <ul class="discover">
                <li><a href="https://www.meetech.ovh" target="_blank" class="button blue" rel="noopener">MeeTech</a></li>
                <li>Computer hardware website.</li>
                <li><b>Date:</b> July 27, 2018</li>
                <li><b>Language:</b> French</li>
                <li><b>Compatibility:</b> Web browser</li>
                <li><a class="show" href="https://www.meetech.ovh" target="_blank" rel="noopener">Visit</a></li>
            </ul>

            <ul class="discover">
                <li><a href="https://github.com/Quozul/Audio-Visualizer" target="_blank" class="button red" rel="noopener">Audio-Visualizer</a></li>
                <li>Audio visualizer in C#.</li>
                <li><b>Date:</b> December 6, 2019</li>
                <li><b>Language:</b> English</li>
                <li><b>Compatibility:</b> Windows</li>
                <li><span class="show" onclick="link('/resources');">Check resources for download</span></li>
            </ul>

            <ul class="discover">
                <li><a href="https://github.com/Quozul/Pak" target="_blank" class="button yellow" rel="noopener">Pak</a></li>
                <li>Text based game in Java.</li>
                <li><b>Date:</b> June 1, 2019</li>
                <li><b>Language:</b> English</li>
                <li><b>Compatibility:</b> It's Java, everywhere</li>
                <li><span class="show" onclick="link('/resources');">Check resources for download</span></li>
            </ul>
            <ul class="discover">
                <li><a href="https://github.com/Quozul/Pirikium" target="_blank" class="button purple" rel="noopener">Pirikium</a></li>
                <li>Top-down shooter game.</li>
                <li><b>Date:</b> July 27, 2018</li>
                <li><b>Language:</b> English, French & Polish</li>
                <li><b>Compatibility:</b> Should work everywhere</li>
                <li><a class="show" href="https://github.com/Quozul/Pirikium/releases/latest" target="_blank" rel="noopener">Fast download</a></li>
            </ul>

            <ul class="discover">
                <li><a href="https://github.com/Quozul/" target="_blank" class="button white" rel="noopener">GitHub</a></li>
                <li>More projects on <a class="show" href="https://github.com/Quozul/" target="_blank" rel="noopener">GitHub</a>.</li>
                <li>Or on the <span class="show" onclick="link('/resources');">resources</span> page.</li>
            </ul>
        </div>
    </div>
</section>
<section id="sec3" class="page page-down" name="Contact">
    <div class="wrapper">
        <h1>Contact</h1>

        <div class="block">
            <!-- <form method="post" action="/actions/send.php">
                        <label>Name</label>
                        <input type="name" placeholder="Name" name="name" required>
                        <label>E-mail address</label>
                        <input type="mail" placeholder="E-mail address" name="email" required>
                        <label>Message</label>
                        <textarea rows="3" placeholder="Your message" name="message" required></textarea>
                        <button type="submit">Send</button>
                    </form>

                    <h4>Other informations :</h4> -->
            <p>Contact by mail: <a href="mailto:quozul@outlook.com" class="show">quozul@outlook.com</a> or add me on Discord: <u><span class="select">Quozul#1174</span></u>.</p>
            <p>You can find me on almost all social media under the username <u>Quozul</u>.<br><small>I hope to see you around ;)</small></p>
        </div>
    </div>

    <%- include('../includes/footer'); %>
</section>