<section id="sec1" class="page page-current" name="Pirikium">
    <div class="wrapper">
        <h1>Pirikium</h1>
        <div class="flex flex-row">
            <div class="block">
                <h3>What is Pirikium?</h3>
                <p>Pirikium is a top-down shooter with pixel art graphism.</p>
            </div>
            <img src="/assets/pirikium.png" class="image">
        </div>
    </div>
</section>