<section id="sec1" class="page page-current" name="Statistics">
    <div class="wrapper">
        <h1>Statistics</h1>

        <div class="block">
            <p>
                Welcome to the statistics page. When accessing the website, informations about your visit is saved.<br>
                Scroll down to see them.
            </p>
        </div>
    </div>
</section>

<section id="sec2" class="page page-down" name="Countries">
    <div class="wrapper">
        <h1>Countries</h1>

        <div class="block">
            <canvas id="countries"></canvas>
        </div>
    </div>
</section>

<section id="sec3" class="page page-down" name="Resources">
    <div class="wrapper">
        <h1>Resources</h1>

        <div class="block">
            <canvas id="resources"></canvas>
        </div>
    </div>
</section>

<section id="sec4" class="page page-down" name="Hours">
    <div class="wrapper">
        <h1>Hours</h1>

        <div class="block">
            <canvas id="hours"></canvas>
        </div>
    </div>
</section>

<section id="sec5" class="page page-down" name="Browsers">
    <div class="wrapper">
        <h1>Browsers</h1>

        <div class="block">
            <canvas id="browsers"></canvas>
        </div>
    </div>
</section>

<section id="sec6" class="page page-down" name="OS">
    <div class="wrapper">
        <h1>OS</h1>

        <div class="block">
            <canvas id="os"></canvas>
        </div>
    </div>
</section>

<!-- noAjax -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    request('/statistics/countries').then(res => {
        let labels = [], data = [];
        JSON.parse(res.response).forEach(c => {
            labels.push(c.country != null ? c.country : 'Unknown');
            data.push(c.count);
        });

        const ctx = document.getElementById('countries').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per country',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            }
        });
    });

    request('/statistics/resources').then(res => {
        let labels = [], data = [];
        JSON.parse(res.response).forEach(c => {
            labels.push(c.page);
            data.push(c.count);
        });

        const ctx = document.getElementById('resources').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per page',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            }
        });
    });

    request('/statistics/hours').then(res => {
        let labels = [], data = [];
        JSON.parse(res.response).forEach(c => {
            labels.push(c.hour);
            data.push(c.count);
        });

        const ctx = document.getElementById('hours').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per hour',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            }
        });
    });

    request('/statistics/browsers').then(res => {
        let labels = [], data = [];
        JSON.parse(res.response).forEach(c => {
            labels.push(c.browser != null ? c.browser : 'Unknown');
            data.push(c.count);
        });

        const ctx = document.getElementById('browsers').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per browsers',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            }
        });
    });

    request('/statistics/os').then(res => {
        let labels = [], data = [];
        JSON.parse(res.response).forEach(c => {
            labels.push(c.os != null ? c.os : 'Unknown');
            data.push(c.count);
        });

        const ctx = document.getElementById('os').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per os',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            }
        });
    });
</script>