<section id="sec1" class="page page-current" name="Statistics">
    <div class="wrapper">
        <h1>Statistics</h1>

        <div class="block">
            <p>
                Welcome to the statistics page. When accessing the website, informations about your visit is saved.<br>
                Scroll down to see them.
            </p>
        </div>
    </div>
</section>

<section id="sec2" class="page page-down" name="Countries">
    <div class="wrapper">
        <h1>Countries</h1>

        <div class="block">
            <canvas id="countries"></canvas>
        </div>
    </div>
</section>

<section id="sec3" class="page page-down" name="Resources">
    <div class="wrapper">
        <h1>Resources</h1>

        <div class="block">
            <canvas id="resources"></canvas>
        </div>
    </div>
</section>

<section id="sec4" class="page page-down" name="Hours">
    <div class="wrapper">
        <h1>Hours</h1>

        <div class="block">
            <canvas id="hours"></canvas>
        </div>
    </div>
</section>

<section id="sec5" class="page page-down" name="Browsers">
    <div class="wrapper">
        <h1>Browsers</h1>

        <div class="block">
            <canvas id="browsers"></canvas>
        </div>
    </div>
</section>

<section id="sec6" class="page page-down" name="OS">
    <div class="wrapper">
        <h1>OS</h1>

        <div class="block">
            <canvas id="os"></canvas>
        </div>
    </div>
</section>

<!-- noAjax -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    function chart(id, res, x) {
        let labels = [], data = [];
        JSON.parse(res).forEach(c => {
            labels.push(c.data != null ? c.data : 'Unknown');
            data.push(c.count);
        });

        new Chart(document.getElementById(id).getContext('2d'), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Visits per ' + id,
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: { yAxes: [{ ticks: { beginAtZero: true } }] }
            }
        });
    }

    request('/statistics/countries').then(res => {
        chart('countries', res.response);
    });

    request('/statistics/resources').then(res => {
        chart('resources', res.response);
    });

    request('/statistics/hours').then(res => {
        chart('hours', res.response);
    });

    request('/statistics/browsers').then(res => {
        chart('browsers', res.response);
    });

    request('/statistics/os').then(res => {
        chart('os', res.response);
    });
</script>