:root {
    --bounce-transition: cubic-bezier(0.175, 0.885, 0.32, 2);
}

#colors,
#info {
    display: flex;
    justify-content: space-around;
}

#colors {
    flex-wrap: wrap;
}

.color-circle {
    display: block;
    width: 64px;
    height: 64px;
    margin: 10px;
    
    border-radius: 28px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    /* Bouncy transition */
    transition: border-radius .2s var(--bounce-transition),
        box-shadow .2s var(--bounce-transition),
        background-color .2s ease-in-out,
        transform .2s var(--bounce-transition);
}

.color-circle:active {
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 768px) {
    .color-circle:hover {
        border-radius: 16px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    }
    
    .color-circle:active {
        border-radius: 20px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }
}

.red {
    color: rgb(255, 64, 64);
}

.green {
    color: green;
}

.blue {
    color: rgb(64, 64, 255);
}

#info,
#guess {
    text-align: center;
    margin: auto;
    padding: 0;
}

#info {
    font-size: 18px;
    margin: 20px 0;

    align-items: center;
    white-space: nowrap;
}

#info>span {
    width: 50%;
}

#guess {
    font-size: 28px;
    display: inline-block;
    margin: 10px 0;
    transition: .2s var(--bounce-transition);
}

#reset-arrow {
    color: #777;
    cursor: pointer;
    display: inline-block;
    transition: .2s;
}

#reset-arrow:hover {
    transform: rotate(45deg);
}

#reset-arrow:active {
    transform: rotate(360deg);
}

#last-color {
    margin: 0;
    font-weight: normal;
    transition: .2s;
}

#copy-color {
    cursor: pointer;
}

#copy-color h6 {
    display: inline;
}