* {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --background-color: #0a0a1a;
    --gold-color: #DCB800;
}

body {
    overflow: hidden;
    z-index: 100;
    background-color: var(--background-color);
}

.select {
    user-select: all;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

ul li {
    margin-bottom: 1em;
}

ul li:last-child {
    margin-bottom: 0;
}

/* links */
a {
    text-decoration: none;
    color: #003;
}

a:hover {
    color: #003;
}

.show-link {
    color: #2E86C1;
    font-weight: bold;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.2s border-bottom-color;
}

.show-link:hover {
    color: #2E86C1;
    border-bottom: solid 1px #2E86C1;
}

h2 {
    font-weight: normal;
}

small {
    font-weight: lighter;
}

/* Scroll arrow
* https://codepen.io/matthewhirsch/pen/qOxmoz
*/
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
}

.scroll-arrow {
    display: block;
    margin-left: calc(50% - 13px / 2);
    margin-bottom: 16px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 13px;
    height: 13px;
    animation: fade_move_down 4s ease-in-out infinite;
}


/* Animated scroll arrow animation */
@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
    }

    50% {
        transform: translate(0, 10px) rotate(45deg);
    }

    100% {
        transform: translate(0, -10px) rotate(45deg);
    }
}

/* Utility */
.full-size {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bubbles */
.bubbles {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    text-align: right;
}

.bubble {
    position: relative;
    color: transparent;
    padding-right: 0;
    transition: .2s padding-right, .2s color;
    cursor: pointer;
}

@media (min-width: 576px) {
    .bubble {
        position: relative;
        color: white;
        padding-right: 3em;
        transition: .2s padding-right, .2s color;
        cursor: pointer;
    }

    .bubble:hover, .bubble.selected:focus {
        color: white;
        padding-right: 4em;
    }
}

.bubble::before {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    content: " ";
    background-color: transparent;
    border: solid 1px white;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.bubble:hover::before, .bubble.selected::before {
    background-color: white;
    transition: .2s background-color;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none!important;
        animation: none!important;
    }
}

h1 {
    font-family: 'Merriweather', serif;
    color: var(--gold-color);
}

.display {
    font-size: 4rem;
}

@media (min-width: 576px) {
    .display {
        font-size: 5rem;
        letter-spacing: .5em;
    }
}

/* Source: https://codepen.io/ericrasch/pen/Irlpm */
.line-title {
    display: table;
    white-space: nowrap;
}

.line-title:before, .line-title:after {
    border-top: 1px solid var(--gold-color);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 100%;
    transition: 2s width;
}

.line-title-left:after {
    display: none;
}

.line-title-right:before {
    display: none;
}

.line-title-center:before, .line-title-center:after {
    width: 45%;
}

@media (max-width: 768px) {
    .line-title-left:after, .line-title-right:after, .line-title-center:after {
        width: 100%;
        display: table-cell;
    }

    .line-title-left:before, .line-title-right:before, .line-title-center:before {
        width: 100%;
        display: none;
    }
}

.line-title:before { right: 0; }
.line-title:after { left: 0; }

/* Project menu */

#subMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
    bottom: 0;
    background-color: var(--background-color);
}

#subMenu > div {
    max-width: 100%;
    display: flex;
    padding: 1em;
}

#subMenu > div > div {
    padding: .5em;
    margin: .25em;
    transition: .2s box-shadow, .2s color;
    box-shadow: inset transparent 0 -1px 0;
    cursor: pointer;
    white-space: nowrap;
}

#subMenu > div > div:hover {
    box-shadow: inset var(--gold-color) 0 -1px 0;
}

#subMenu > div > div:active, #subMenu > div > div.selected {
    color: black;
    box-shadow: inset var(--gold-color) 0 -40px 0;
}

.h-1 {
    height: 1em;
}

.w-1 {
    width: 1em;
}

.mh-100 {
    max-height: 100%;
}

.z-20 {
    z-index: 20;
}

.logo {
    position: absolute;
    margin-left: -48px;
    margin-top: -16px;
}

.emoji {
    transform: translate(1em, 0) rotate(90deg);
}

/* Login button */

.login-button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

#loginButton.logged-in, #loginButton.logged-in + #logoutButton {
    transition: transform .5s;
    width: 100%;
    height: 100%;
    transform-origin: top;
    transform: rotateX(0);
}

.login-button:hover #loginButton.logged-in {
    transform: rotateX(90deg);
}

#loginButton + #logoutButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

#loginButton.logged-in + #logoutButton {
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translate(-50%, -50%) rotateX(-90deg);
}

#loginButton.logged-in + #logoutButton {
    height: auto;
}

.login-button:hover #loginButton.logged-in + #logoutButton {
    transform: translate(-50%, -50%) rotateX(0);
}

.avatar {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}