* {
    user-select: none;
}

body {
    overflow: hidden;
    z-index: 100;
}

.select {
    user-select: all;
    cursor: pointer;
}

.wrapper {
    width: 80%;
    max-width: 1024px;
    margin: auto;
}

ul {
    list-style-type: none;
}

/* links */
a {
    text-decoration: none;
    color: #003;
}

a:hover {
    color: #003;
}

a.show-link {
    color: #2E86C1;
    font-weight: bold;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.2s border-bottom-color;
}

a.show-link:hover {
    color: #2E86C1;
    border-bottom: solid 1px #2E86C1;
}

/* Copyleft */

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.copyleft::after {
    content: "\00a9";
}

/* Content */

#logo {
    display: block;
    background: url('/public/assets/icon.png');
    background-size: cover;
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

h2 {
    font-weight: normal;
}

small {
    font-weight: lighter;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #499bea 0%, #207ce5 100%);
}

::-webkit-scrollbar-track {
    background-color: #333;
}

.block {
    background: #222;
    border-radius: 3px;
    padding: 10px;
}

/* Scroll arrow
* https://codepen.io/matthewhirsch/pen/qOxmoz
*/
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
}

.scroll-arrow {
    display: block;
    margin-left: calc(50% - 13px / 2);
    margin-bottom: 16px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 13px;
    height: 13px;
    animation: fade_move_down 4s ease-in-out infinite;
}


/* Animated scroll arrow animation */
@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
    }

    50% {
        transform: translate(0, 10px) rotate(45deg);
    }

    100% {
        transform: translate(0, -10px) rotate(45deg);
    }
}

.noscript {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bubbles */

.bubbles {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    text-align: right;
}

.bubble {
    position: relative;
    color: transparent;
    padding-right: 0;
    transition: .2s padding-right, .2s color;
    cursor: pointer;
}

@media (min-width: 576px) {
    .bubble:hover, .bubble.selected:focus {
        color: white;
        padding-right: 3em;
    }
}

.bubble::before {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    content: " ";
    background-color: transparent;
    border: solid 1px white;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.bubble:hover::before, .bubble.selected::before {
    background-color: white;
    transition: .2s background-color;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none!important;
        animation: none!important;
    }
}