file-browser {
  position: relative;
  display: flex;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}
file-browser > .context-menu {
  position: absolute;
  width: 128px;
  height: auto;
  z-index: 200;
  transform: scale(0);
  transform-origin: top left;
  background-color: var(--context-menu);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
file-browser > .context-menu.visible {
  transform: scale(1);
}
file-browser > .context-menu > li {
  cursor: pointer;
  padding: 1em;
  margin: 0;
}
file-browser > .context-menu > li + li {
  border-top: solid 1px #ccc;
}
file-browser > .context-menu > li:hover {
  background-color: var(--context-menu-hover);
}
file-browser > .search {
  position: absolute;
  z-index: 100;
  background-color: var(--folder-color);
  top: 0;
  right: 0;
  border: none;
  color: white;
  padding: 1em;
  font-size: 1em;
  transform: translateY(-100%);
  transition: transform 0.2s;
}
file-browser > .search.visible {
  transform: translateY(3.5em);
}
file-browser > .download-center {
  position: absolute;
  bottom: 4em;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: auto;
  transform: translateX(-50%) translateY(0);
  z-index: 300;
}
file-browser > .download-center .download {
  padding: 1em;
  transition: transform 0.2s;
  border-radius: 0.25em;
  border: solid #ccc 1px;
  background-color: var(--background-color);
  margin: 0.5em 0;
  transform: translateY(calc(100% + 5em));
}
file-browser > .download-center .download.downloading {
  transform: translateY(0);
}
file-browser > .download-center .download .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5em;
  background-color: var(--gold-color);
  width: 0;
  transition: width 0.2s;
}
file-browser > .preview {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: var(--background-color);
  overflow: auto;
}
file-browser > .preview .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
file-browser > .preview .close:hover {
  opacity: 1;
}
file-browser > .preview .close:before, file-browser > .preview .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
}
file-browser > .preview .close:before {
  transform: rotate(45deg);
}
file-browser > .preview .close:after {
  transform: rotate(-45deg);
}
file-browser > .preview .content {
  height: 100%;
  overflow: hidden;
}
file-browser > .preview .content pre {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: left;
  user-select: text;
}
file-browser > .preview .content video {
  width: 100%;
  height: 100%;
}
file-browser > .preview.show {
  transform: scale(1);
}
file-browser[data-view-mode=show] {
  flex-direction: row;
}
file-browser[data-view-mode=show] > .stat {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 240px;
  max-width: 240px;
  width: 240px;
  background-color: var(--folder-color);
  overflow-y: auto;
  overflow-x: hidden;
}
file-browser[data-view-mode=show] > .stat img {
  height: 360px;
  width: 240px;
  aspect-ratio: 2/3;
  object-fit: cover;
}
file-browser[data-view-mode=show] > .stat .title {
  text-align: center;
}
file-browser[data-view-mode=show] > .stat .description {
  text-align: justify;
}
file-browser[data-view-mode=show] > .browser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
file-browser[data-view-mode=show] > .browser > div {
  cursor: pointer;
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
  width: 256px;
  height: calc(144px + 3em);
}
file-browser[data-view-mode=show] > .browser > div img {
  width: 256px;
  height: 144px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
file-browser[data-view-mode=show] > .path {
  display: none;
}
file-browser[data-view-mode=library] > .path, file-browser[data-view-mode=default] > .path {
  top: 0;
  padding: 1em;
}
file-browser[data-view-mode=library] > .path > span, file-browser[data-view-mode=default] > .path > span {
  padding: 0.5em 0.5em 0.5em 0;
  user-select: none;
  cursor: pointer;
}
file-browser[data-view-mode=library] > .path > span + span:before, file-browser[data-view-mode=default] > .path > span + span:before {
  padding-right: 0.5em;
  content: "/";
}
file-browser[data-view-mode=library] > .stat, file-browser[data-view-mode=default] > .stat {
  bottom: 0;
  padding: 1em;
}
file-browser[data-view-mode=library] > .path, file-browser[data-view-mode=library] > .stat, file-browser[data-view-mode=default] > .path, file-browser[data-view-mode=default] > .stat {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: var(--folder-color);
}
file-browser[data-view-mode=library] .browser {
  position: absolute;
  top: 3.5em;
  left: 0;
  bottom: 3.5em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}
file-browser[data-view-mode=library] .browser > div {
  margin: 1em;
  cursor: pointer;
  width: 240px;
  min-height: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
file-browser[data-view-mode=library] .browser > div .name {
  display: inline-block;
  height: 3em;
  line-height: 1.5em;
}
file-browser[data-view-mode=library] .browser > div .icon {
  height: 360px;
  width: 240px;
  aspect-ratio: 2/3;
  object-fit: cover;
}
file-browser[data-view-mode=default] > .browser {
  position: absolute;
  top: 3.5em;
  left: 0;
  bottom: 3.5em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}
file-browser[data-view-mode=default] > .browser > div {
  cursor: pointer;
  width: 256px;
  height: 256px;
  text-align: center;
  padding: 0 1em 1em;
  transition: box-shadow var(--transition-duration), transform 0.2s;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-wrap: anywhere;
}
file-browser[data-view-mode=default] > .browser > div .name > span {
  background-color: var(--gold-color);
}
file-browser[data-view-mode=default] > .browser > div img.icon {
  height: 50%;
}
file-browser[data-view-mode=default] > .browser > div .stat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0.5em;
}
file-browser[data-view-mode=default] > .browser > div:after {
  box-shadow: inset var(--background-color) 0 calc(-256px - 2em) 0;
}
file-browser[data-view-mode=default] > .browser > div.folder, file-browser[data-view-mode=default] > .browser > div.file {
  background-color: var(--folder-color);
}
file-browser[data-view-mode=default] > .browser > div.open:after {
  box-shadow: inset var(--background-color) 0 0 0;
}

/*# sourceMappingURL=browser.css.map */
