---
layout: layouts/base.vto
url: /404.html
---

<section class="flex flex-col gap-2">
  <h1 class="text-xl font-bold">Content not found.</h1>
  <div>
    Go <a class="underline hover:no-underline" href="/">home</a>.
  </div>
</section>
