@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-secondary: var(--muted-secondary);
}

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --background: theme(colors.gray.50);
      --foreground: theme(colors.gray.950);
      --muted: theme(colors.gray.600);
      --muted-secondary: theme(colors.gray.800);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: theme(colors.gray.950);
      --foreground: theme(colors.gray.50);
      --muted: theme(colors.gray.400);
      --muted-secondary: theme(colors.gray.200);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
