:root {
    --bounce-transition: cubic-bezier(0.175, 0.885, 0.32, 2);
}

.color-circle {
    display: block;
    width: 64px;
    height: 64px;
    margin: 10px;

    border-radius: 28px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    /* Bouncy transition */
    transition: border-radius .2s var(--bounce-transition),
        box-shadow .2s var(--bounce-transition),
        background-color .2s ease-in-out,
        transform .2s var(--bounce-transition);
}

.color-circle:active {
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 768px) {
    .color-circle:hover {
        border-radius: 16px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    }

    .color-circle:active {
        border-radius: 20px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }
}

.red {
    color: rgb(255, 64, 64);
}

.green {
    color: green;
}

.blue {
    color: rgb(64, 64, 255);
}

#guess {
    font-size: 28px;
    display: inline-block;
    margin: 10px 0;
    transition: .2s var(--bounce-transition);
}

#reset-arrow {
    color: #777;
    cursor: pointer;
    display: inline-block;
    transition: .2s;
}

#reset-arrow:hover {
    transform: rotate(45deg);
}

#reset-arrow:active {
    transform: rotate(360deg);
}

#last-color {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    transition: .2s;
}

#copy-color {
    cursor: pointer;
}

#copy-color h6 {
    display: inline;
}

/* Tooltip https://www.w3schools.com/css/css_tooltip.asp */
.gtc-tooltip {
    position: relative;
    display: inline-block;
}

.gtc-tooltip .gtc-tooltip-text {
    transform: scale(0);
    transform-origin: bottom center;
    opacity: 0;

    transition: .3s;

    width: 100px;

    background-color: white;
    color: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);

    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;

    position: absolute;

    bottom: 100%;
    left: 50%;
    margin-left: -50px;
}

.gtc-tooltip .gtc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.toggle-tooltip {
    cursor: default;
}

.gtc-tooltip-clickable {
    cursor: pointer;
}

.toggle-tooltip:hover>.gtc-tooltip-text {
    transform: scale(1);
    opacity: 1;
}

.gtc-tooltip-clickable:active>.gtc-tooltip-text {
    transform: scale(.9);
}