file-browser {
    position: relative;
    display: block;
    user-select: none;
    height: 100%;
    width: 100%;
    overflow: hidden;

    > .context-menu {
        position: absolute;
        width: 128px;
        height: auto;
        z-index: 200;
        //transition: transform .1s;
        transform: scale(0);
        transform-origin: top left;
        background-color: var(--context-menu);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        border-radius: 5px;
        list-style-type: none;
        padding: 0;
        overflow: hidden;

        &.visible {
            transform: scale(1);
        }

        > li {
            cursor: pointer;
            padding: 1em;
            margin: 0;

            & + li {
                border-top: solid 1px #ccc;
            }

            &:hover {
                background-color: var(--context-menu-hover);
            }
        }
    }

    > .browser {
        position: absolute;
        top: 3.5em;
        left: 0;
        bottom: 3.5em;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: auto;

        > div {
            cursor: pointer;
            position: relative;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: " ";
                transition: .2s;
                pointer-events: none;
            }

            &:active {
                transform: scale(.95);
            }
        }

        &[data-view-mode="library"] > div {
            width: 240px;
            min-height: 360px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;

            .name {
                display: inline-block;
                height: 3em;
                line-height: 1.5em;
            }

            .icon {
                height: 360px;
                width: 240px;
                aspect-ratio: 2/3;
                object-fit: cover;
            }

            &:after {
                box-shadow: inset var(--background-color) 0 calc(-360px - 4.5em) 0;
            }
        }

        &[data-view-mode="default"] > div, &[data-view-mode="playlist"] > div {
            cursor: pointer;
            width: 256px;
            height: 256px;
            text-align: center;
            padding: 0 1em 1em;
            transition: box-shadow var(--transition-duration), transform .2s;
            margin: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow-wrap: anywhere;

            .name > span {
                background-color: var(--gold-color);
            }

            img.icon {
                height: 50%;
            }

            .stat {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: left;
                padding: .5em;
            }

            &:after {
                box-shadow: inset var(--background-color) 0 calc(-256px - 2em) 0;
            }

            &.folder, &.file {
                background-color: var(--folder-color);
            }
        }

        > div.open:after {
            box-shadow: inset var(--background-color) 0 0 0;
        }
    }

    > .preview {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform .2s;
        transform: scale(0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        background-color: var(--background-color);
        overflow: auto;

        // Source: https://codepen.io/brissmyr/pen/egidw
        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: white;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        .content {
            height: 100%;
            overflow: hidden;

            pre {
                height: 100%;
                width: 100%;
                overflow: auto;
                text-align: left;
                user-select: text;
            }

            video {
                width: 100%;
                height: 100%;
            }
        }

        &.show {
            transform: scale(1);
        }
    }

    > .path {
        top: 0;
        padding: 1em;

        > span {
            padding: .5em .5em .5em 0;
            user-select: none;
            cursor: pointer;

            + span:before {
                padding-right: .5em;
                content: "/";
            }
        }
    }

    > .stat {
        bottom: 0;
        padding: 1em;
    }

    > .path, > .stat {
        position: absolute;
        width: 100%;
        z-index: 100;
        background-color: var(--folder-color);
    }

    > .search {
        position: absolute;
        z-index: 100;
        background-color: var(--folder-color);
        top: 0;
        right: 0;
        border: none;
        color: white;
        padding: 1em;
        font-size: 1em;
        transform: translateY(-100%);
        transition: transform .2s;

        &.visible {
            transform: translateY(3.5em);
        }
    }

    > .download-center {
        position: absolute;
        bottom: 4em;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: auto;
        transform: translateX(-50%) translateY(0);
        z-index: 300;

        .download {
            padding: 1em;
            transition: transform .2s;
            border-radius: .25em;
            border: solid #ccc 1px;
            background-color: var(--background-color);
            margin: .5em 0;
            transform: translateY(calc(100% + 5em));

            &.downloading {
                transform: translateY(0);
            }

            .progress {
                position: absolute;
                bottom: 0;
                left: 0;
                height: .5em;
                background-color: var(--gold-color);
                width: 0;
                transition: width .2s;
            }
        }
    }
}